<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @adminuser.name %></h3>
    <p>
      Please login with your new password.
    </p>
    <p>
      password: <%= @password %><br>
    </p>
  </body>
</html>