<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no">
  <meta http-equiv="Cache-control" content="no-store">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>Centareum</title>

  <style type="text/css">
    #append_wrapper>.row:first-child {display:none;}
  </style>  
</head>
<body>
 <!--  <header class="beforelogin">
    <div class="logo"><a href="/admin/login"><img src="/assets/logo1.png"></a></div>
  </header> -->
    <div class="before-login-wrapper">
      <div class="login-main-content">
        <div class="before-login-logo">
             
         </div>
         <div class="inner-content clearfix">
            <div class="login-content-box">
              <h2 class="heading">Forgot password</h2>
              <p class="login-text">Please enter your registered email address so that we can send you a temporary login password to your email.</p>
             <%= form_for(:admin_user, url: reset_password_admin_home_index_path,method: :patch,:class=> "form-control",html: {id: "forgot-idenity"}) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, class: 'form-control', placeholder: "Email", required: true,autocomplete: "off" %>
                </div>
                <div class="button-box mt30">
                  <button type="submit" class="btn btn-red width100">Reset Password</button>
                </div>                     
                <br>
                <div class="form-group">
                  <div class="col-sm-12">
                    Remember Password? <a href="/admin" class="text-center color-red">Click Here</a> for Login
                  </div>
                </div>
              <%end%>        
                 
            </div>  
          </div>
        </div>  
      </div>
        <div class="copyrights">Centareum © 2018 All Rights Reserved.</div>
</body>
</html>
<script>
$(document).ready(function(){

  $("#forgot-idenity").validate({
    // Specify the validation rules
    // debug: true,
    rules: {
      "admin_user[email]": {
        required: true,
        emailRegex: true,
        minlength: 2,
        maxlength: 100
      },
    },
    // Specify the validation error messages
    // messages: {
    //   "state[name]": {
    //     required: "Enter a name",
    //     minlength: "Title must be more than 2 characters.",
    //     maxlength: "Title must be lass than 100 characters.",
    //   },
    // },
  });
  $.validator.addMethod("emailRegex", function(value, element) {
      return this.optional(element) || /^(?=[^@]*[A-Za-z])([a-zA-Z0-9])(([a-zA-Z0-9])*([\._-])?([a-zA-Z0-9]))*@(([a-zA-Z0-9\-])+(\.))+([a-zA-Z]{2,4})+$/i.test(value);
  }, "Please enter a valid email address.");
});

</script>