<div class="dress-changes-block list-block">
  <% if @avatar_category.images.present? %>
	<%= form_tag destroy_avatar_images_admin_avatars_path(id: @avatar_category), method: :post do %>
	  <ul>
	  <% @avatar_category.images.each do |post| %>
		<li>
		  <div class="hair-block">
		    <%= post.present? ? image_tag(post.try(:file).try(:url),:width => 400, :height => 300, :class => 'save_image_layout', :id=> "") : image_tag("/1.png",:width => 400, :height => 300, :class => 'save_image_layout') %>   
		    
	      <div class="text-center">
		    <%= check_box_tag "posts[]", post.id %>
		    </div>
		   
		  </div>
		</li>
	 <% end %>
	 </ul>
	 <center><%= submit_tag "Delete selected", class: "btn btn-red btn_blue_delete text-center" %></center>
	 <% end %>
  <%end%>
</div>
